@tailwind base;
@tailwind components;
@tailwind utilities;



 
.title {
  text-align: center;
  margin-top: 150px;
}
.title-sub {
  text-align: center;
}
.navbar {
  background: white;
  height: 100px;
  padding: 20px;
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;
} 
.cart-item {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  line-height: 0px;
} 